.commerce-pos-product-line-item-quantity {
    float: left;
    width: 75px;
}

.commerce-pos-product-line-item-label {
    float: left;
    width: 300px;
}

.commerce-pos-product-line-item-total {
    float:right;
}