.commerce-pos-search-results .commerce-order-order-number-label {
	display: none;
}

.commerce-pos-search-results .commerce-order-order-number, .commerce-pos-search-results .field {
	font-size: 0.75em;
	display: inline;
}

.commerce-pos-search-results .entity-commerce-order h2 {
	font-size: 0.75em;
	line-height: 100%;
	max-height: 2em;
	overflow: hidden;
	margin: 0.1em;
}

.commerce-pos-search-results .entity-commerce-product h2 {
	font-weight: normal;
}

.commerce-pos-order-search-order-number {
	display:none;
}

.commerce-pos-search-results .entity-commerce-order {
	margin-left: 0px;
	margin-right: 0px;
	width: 48%;
	display: inline-block;
}