.facetapi-commerce-pos-search-radios label {
	display : inline-block;
}

.facetapi-commerce-pos-search-radios .form-type-radio {
	display : inline;
}

.form-item-query {
  display : inline;
}

.commerce-pos-search-panel input.commerce-pos-search-form-query {
  max-width : 80% !important;
}