.commerce-pos-order .field-label, .commerce-pos-order-receipt .field-label{
    display: none;
}

.commerce-pos-action-elements .field-name-commerce-line-items{
	height:300px;
	overflow-y:hidden;
}

.commerce-pos-order {
    position: relative;
}

.commerce-pos-order-receipt-wrapper {
	display:none;
}

.commerce-pos-order .entity-commerce-order > h2 {
	position: absolute;
	top: 300px;
	left: 0;
}

.commerce-pos-order-status .ui-button {
  display:inline-block;
  font-size:12px;
  width: 90px;
  height: 40px;
  border-radius:3px;
}

.field-name-commerce-order-total {
	width:100%;
	height:auto;
	text-align:right;
}

.field-name-commerce-order-total .field-items {
	width: 50%;
	right: 0px;
	display:inline-block;
  clear:both;
}

.form-item.form-type-radios.form-item-order-order-status {
	max-width:37%;
}

.form-item-order-order-status > label {
	display:none;
}

.views-field-pos-load .commerce-pos-order-number {
  display:none;
}

#commerce-pos-order-select-orders .view-content .views-row {
  max-width: 45%;	
}

.entity-commerce-order h2 {
font-size:14pt;	
}