.commerce-pos-input {
    max-width: 100px;
}

.form-item-input {
	display:inline-block;
}

.form-item-input input {
	border-radius:3px;
}

.commerce-pos-input-clear, .commerce-pos-input-enter {
	border-radius:5px;
	margin-right:15px;
}

.form-item-input label {
    display: none;
}

.ajax-progress-throbber .message {
    display: none;
}

#commerce-pos-replace-wrapper .commerce-pos-action-elements {
    height: 300px;
    width: 99%;
    border-radius:3px;
    border-width: 1px;
    border-color: #D3D3D3;
    border-style:solid;
}

.commerce-pos-ajax-trigger {
    display: none;
}

.commerce-pos-button-section-num-pad .commerce-pos-button {
	width: 43px;
	height: 43px;
	margin:3px;
	font-weight:bold;
	font-size: 16pt;
	padding:0px;
}

.commerce-pos-button span.label {
	vertical-align:middle;	
}

.commerce-pos-button-section-num-pad {
	width: 162px;
	float:left;
	clear:right;
}

.commerce-pos-button-action, .commerce-pos-button-replace-text, .commerce-pos-button-append-text {
	display:none;
}

.throbber {
	position:fixed;
	bottom:0;
	left:0;
}

.commerce-pos-button {
	min-width:45px;
	min-height:36px;
	font-size:12pt;
	font-weight:bold;
	padding:5px;
	margin:3px;
	border-radius: 4px;
	border-width:1px;
}

.commerce-pos-button-section {
  display: inline-block;
  margin:4px;
}

.commerce-pos-button-section:not(.commerce-pos-button-section-num-pad) {
	max-width: 113px;
}

.commerce-pos-button-section:not(.commerce-pos-button-section-num-pad) .commerce-pos-button{
  width: 100px;
}

#commerce-pos-buttons, .commerce-pos-panel-set, #commerce-pos-pos-form-wrapper {
	float:left;
	height:100%
}

#commerce-pos-pos-form-wrapper {
  width: 34%;
}

.commerce-pos-panel-set {
  width: 30%;
}

#commerce-pos-buttons {
  width: 34%;
}

.commerce-pos-modal {
	/*display:none;*/
}

.commerce-pos-modal input {
	z-index: 1002;
}

.commerce-pos-order .field-label, .commerce-pos-receipt .field-label{
    display: none;
}

.commerce-pos-receipt-wrapper {
  display:none;
}

.commerce-pos-panel {
	padding: 0.2em !important;
}

.ui-button-text {
	padding: 0.2em 0.7em !important;
}

.content-style {
	padding: 10px 12px !important;
}

/*A few hacks*/
h1#page-title, .container.clearfix {
     display:none !important
}

.commerce-pos-receipt, .commerce-pos-receipt .entity-commerce-order {
font-size: 17pt !important;
}

