.commerce-pos-action-items .field-name-commerce-line-items {
    height: 312px;
    width: 100%;
    overflow: hidden;
}

.field-name-commerce-line-items th {
    display: none;
}

.views-field-pos-selector {
	display: none;
}

.field-name-commerce-line-items .ui-selected {
	background: rgb(211, 233, 244);;
}

.commerce-line-items-selected-ids {
	display: none;
}

.commerce-pos-line-item-up, .commerce-pos-line-item-down {
	display:block;
  border-color:gray;
  border-radius:3px;
  border-style:solid;
  border-width:1px;
	padding: 5px;
}

.ui-button-icon-only.commerce-pos-line-item-up {
	position:absolute;
	top: 150px;
	left: -50px;
}

.ui-button-icon-only.commerce-pos-line-item-down {
	position:absolute;
	top: 250px;
	left:-50px;
}

.commerce-pos-line-item-selector {
	 display:none;
}