.commerce-pos-search-results .entity-commerce-customer-profile h2 {
	font-size: 0.75em;
	line-height: 100%;
	max-height: 2em;
	overflow: hidden;
	margin: 0.1em;
}

.commerce-pos-search-results .entity-commerce-customer-profile h2 {
	font-weight: normal;
}

.commerce-pos-customer-search-customer-number {
	display:none;
}

.commerce-pos-search-results .entity-commerce-customer-profile {
	margin-left: 0px;
	margin-right: 0px;
	width: 48%;
	display: inline-block;
}