.commerce-pos-search-results .commerce-product-pos-open-ring .commerce-price {
  display:none;	
}

.commerce-pos-search-results .commerce-product-pos-open-ring h2 {
  text-transform:uppercase;
  font-weight:bold;	
}