.commerce-pos-payment-remove {
	color: red;
}

.view-commerce-pos-payments thead {
	display: none;
}

.commerce-pos-payment-pos-removed {
  color: red;
  text-decoration: line-through;
}

.commerce-pos-payment-transaction-cancel-id {
	display: none;
}

.view-commerce-pos-payments, .commerce-pos-payment-display {
  max-width:45%;
  display:block;
  right:50px;
  position:absolute;
}

.commerce-pos-payment-amount.commerce-pos-payment-change:before {
  content:'(';
}

.commerce-pos-payment-amount.commerce-pos-payment-change:after {
  content:')';
}

.commerce-pos-payment-amount.commerce-pos-payment-change {
  color:red;
  font-weight:bold;
  font-size: 110%;
}

.commerce-pos-receipt .commerce-pos-payment-amount.commerce-pos-payment-change {
  font-weight:normal;
  font-size:normal;
}
